.article-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  background: #171a22;
  color: #fffef0;
  min-height: 100vh;
}

/* BACK */
.back-nav {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  margin-bottom: 20px;
}

/* TITLE */
.article-title-display {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.article-subtitle {
  color: #171a22;
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 30px;
}

/* SECTION */
.article-section {
  margin-bottom: 2.5rem;
}

.section-title {
  font-size: 1.4rem;
  font-weight: 600;
  border-left: 5px solid #ffb331;
  padding-left: 12px;
  margin-bottom: 1rem;
}

.section-text {
  font-size: 1.05rem;
  color: #fffef0;
  line-height: 1.7;
  white-space: pre-wrap;
}

.section-text a {
  color: #ffd797;
}
.section-text a:hover {
  color: #ffb133;
}

/* KEYWORDS */
.keywords-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.keyword-tag {
  background: #ffae16;
  color: #171a22;
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: 600;
}

/* RELATED */
.related-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.related-item {
  color:#fffef0;
  position: relative;
  background: #171a22;
  padding: 12px 16px;
  padding-right: 40px; /* space for icon */
  border: 1px solid #171a22;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.related-name {
  font-weight: 500;
  color:#fffef0;
}

/* ICON CONTAINER */
.related-link {
  position: absolute;
  right: -30px; /* pushes icon OUTSIDE box */
  top: 0;
}

/* ICON IMAGE */
.related-link img {
  margin-right: 10px;
  margin-top: 20px;
  width: 18px;
  height: auto;
  object-fit: contain;
}

.article-date {
  font-size: 0.9rem;
  color: #777;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-style: italic;
}

/* MAIN ARTICLE CONTENT */
/* list */
.section-text h1 {
  margin-left: 20px;
}

/* titles big */

.section-text h2 { 
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffae16;
  margin-left: 15px;
}

/* footnotes*/

.section-text h3 {
  font-size: 0.8rem;
}


/* Superscript */
.section-text sup {
  font-size: 0.7rem;
}

.section-text p {
  margin-bottom: 1rem;
  text-align: justify;
  line-height: 1.8;
}